<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profissional</title>
</head>
<body>
    {% if data %}
        {% for trab in data %}
            <img 
                src="{{ trab.logo_empresa }}" alt="{{ trab.nome_empresa }}"
                height="60" width="60"
            >
            <p>{{ trab.tipo }}</p>
            <p>{{ trab.cargo }}</p>
            <p>{{ trab.nome_empresa }}</p>
            <p>
                {{ trab.inicio }} - 
                {% if trab.finalizado %}
                    {{ trab.fim }}
                {% else %}
                    Atual
                {% endif %}

            </p>
            <p>{{ trab.descricao }}</p>
            <p>{{ trab.tecnologias }}</p>
        {% endfor %}
    {% else %}
        <p>Página Indisponivel.</p>
    {% endif %}
    
</body>
</html>