html, body, #wrapper {
    height:100%;
    width: 100%;
}
#wrapper td {
    vertical-align: middle;
    text-align: center;
}

img {
    border-radius: 50%
}

.image {
    position: absolute;
    width: 15%;
    height: 15%;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

